<h2 class="flex justify-center text-4xl font-extrabold dark:text-white p-2">TIKI Ticket Booking Application</h2>
<br>
<table style="width: 80%; height: 100vh; border-spacing: 10px; margin: 0 auto;" class="bg-gray-100 rounded-lg">
  <tr>
    <td rowspan="2" style="width: 50%; padding: 10px; overflow-y: auto;">
        <app-logs />
    </td>
    <td style="padding: 10px;padding-left: 5%;">
      <app-config-form />
    </td>
  </tr>
  <tr>
    <td style="padding: 10px;padding-left: 11%;">
      <h4 class="p-3">Start or Stop the program</h4>
      <div class="px-5">
        <button type="button" (click)="startTicketSelling()" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">Start</button>
        <button type="button" (click)="stopTicketSelling()" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Stop</button>
      </div>
    </td>
  </tr>
</table>

<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
